header {
    font-size: 32px;
    color: white;
    background-color: lightslategray;
    padding: 10px;
    text-align: center;
    width:90%;
    margin: 0 auto;
}
.container {
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    line-height: 1.25;
    color: white;
    background-color: lightslategray;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 100%;
}
p {
    margin: 10px;
}
.matchTitle {
    color: lightslategray;
    background-color: white;
    height: 200px;
    width: 45%;
    margin-left: 4%;
    float: left;
}
.randomScore {
    font-size: 32px;
}
.winsLoseBox {
    font-size: 12px;
    background-color: white;
    color: lightslategray;
    height: 40px;
    width: 45%;
    margin-right: 4%;
    float: right;
}
.playerScoreTitle {
    font-size: 14px;
    color: white;
    background-color: lightslategray;
}
.playerScore {
    font-size: 32px;
    color: lightslategray;
    background-color: white;
    height: 143px;
    width: 45%;
    float: right;
    margin-right: 4%;
}
.gemContainer {
    clear: both;
}
img {
    width: 15%;
    height: 15%;
    margin: 2%;
}

@media screen and (max-width: 768px) {
    img{
        width: 11%;
    }
}


